<ion-view title="行事曆" id="page5">
  <ion-content padding="true" scroll="false" class="has-header">
    <a href-inappbrowser="http://www.bish.tp.edu.tw/get_file.php?file_name=33d15eb19a6279f6ad40f0f369567391.pdf&amp;file_dir=images/file/data3829/&amp;rename=1071%E8%A1%8C%E4%BA%8B%E6%9B%86%28%E6%95%99%E5%B8%AB%E8%A1%8C%E6%94%BF%E7%89%88%290820.pdf" id="page5-button38"
      style="font-weight:600;border-radius:20px 20px 20px 20px;" class="button button-positive button-block button-clear">107-1 行事曆</a>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="page5-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="page5-slide24" style="background:url(&quot;img/D47aC31vTwuvE0Dj8kqk_1.GIF&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page5-slide25" style="background:url(&quot;img/XluNTLQle8bE4h4oKkIQ_2.GIF&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page5-slide26" style="background:url(&quot;img/5tjsc11vTZSVfGDC28BH_3.GIF&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page5-slide27" style="background:url(&quot;img/JcS0YTArQiOwEEfvdFS3_4.GIF&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <form id="page5-form13" class="list">
      <label class="item item-input" id="page5-input8">
        <span class="input-label">若有異動，請依照校方公告為主</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>