<ion-view title="多元活動" id="page19">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Rf7GY3pFRf67ob2iP0n2_105.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/O3YDX0CnQg6RBaC3Y02V_106.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/QLc5dGA9TAarqAYcQCya_107.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/gzkLaNH6TdSZpBtMwoVX_108.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>