<ion-view title="多元活動" id="page19">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Rf7GY3pFRf67ob2iP0n2_105.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/O3YDX0CnQg6RBaC3Y02V_106.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/QLc5dGA9TAarqAYcQCya_107.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page19-button26" style="font-weight:600;color:#2F2AE1;" class="button button-light button-block button-outline">校園演唱會</button>
    <div>
      <img src="img/gzkLaNH6TdSZpBtMwoVX_108.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/LkJe4Un9SsWVOWBlTQrP_15.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page19-button21" style="font-weight:600;color:#2765E0;" class="button button-light button-block button-clear">國際、國內教育旅行</button>
    <div>
      <img src="img/6Hl54ab1RD2sqZIDzm2i_BIS-.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/v5RuJr6mS02yTKSGYQf2_BIS-.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page19-button37" style="font-weight:600;" class="button button-positive button-block button-clear">社團活動</button>
    <div id="page19-button-bar3" class="button-bar">
      <button id="page19-button41" style="font-size:12px;" class="button button-assertive button-block">體能</button>
      <button id="page19-button44" style="font-size:12px;" class="button button-royal button-block">音樂</button>
      <button id="page19-button45" style="font-size:12px;" class="button button-energized button-block">手藝</button>
      <button id="page19-button42" style="font-size:12px;" class="button button-calm button-block">服務</button>
      <button id="page19-button43" style="font-size:12px;" class="button button-balanced button-block">康樂</button>
    </div>
    <div>
      <img src="img/RNn9S7DHSOarU3KqenIo_1.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/eWwrLGe1QCCKfMibSu5w_2.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/lgWArXFhTZaofRPi2LN0_3.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/0CapT2SESKGZHS8poZUE_4.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/Ug4M5P6gQp2yfaxtAGWN_5.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/9jxfK3gVS2egQHsIxylz_6.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/RCRqMNZBTOmMnJ2b82Iq_7.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page19-button46" style="font-weight:600;" class="button button-balanced button-block button-clear">愛心園遊會 (12月)</button>
    <div>
      <img src="img/NxDSfNIRjS4v3ACO5iuB_8.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/KuZl11VIShu3PuUh3LJL_9.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/OsTQnHHyQZ6n0o0i2pNB_10.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/FrDurd4OQTeRRwe6VPZd_11.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/qe5XdKzeT5ynB63gU9Yb_12.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/hTKDjCroTnaIQ3xiwNKC_13.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/q3LRgcFTXe5wC95SA18o_14.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>