<ion-view title="多元活動" id="page19">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Rf7GY3pFRf67ob2iP0n2_105.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/O3YDX0CnQg6RBaC3Y02V_106.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/QLc5dGA9TAarqAYcQCya_107.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page19-button26" style="font-weight:600;color:#2F2AE1;" class="button button-light button-block button-outline">校園演唱會</button>
    <div>
      <img src="img/gzkLaNH6TdSZpBtMwoVX_108.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/oHSJKQsHT2i037QPMmiX_IMG_0406.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/W9whsdSAT6uN8sKxdQpW_IMG_0404.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/pYz6xPZRcK058jtFIbwy_20161224_161434.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page19-button21" style="font-weight:600;color:#2765E0;" class="button button-light button-block button-clear">國際、國內教育旅行</button>
    <div>
      <img src="img/6Hl54ab1RD2sqZIDzm2i_BIS-.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/v5RuJr6mS02yTKSGYQf2_BIS-.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page19-button37" style="font-weight:600;" class="button button-positive button-block button-clear">社團活動</button>
    <div id="page19-button-bar3" class="button-bar">
      <button id="page19-button41" style="font-size:12px;" class="button button-assertive button-block">體能</button>
      <button id="page19-button44" style="font-size:12px;" class="button button-royal button-block">音樂</button>
      <button id="page19-button45" style="font-size:12px;" class="button button-energized button-block">手藝</button>
      <button id="page19-button42" style="font-size:12px;" class="button button-calm button-block">服務</button>
      <button id="page19-button43" style="font-size:12px;" class="button button-balanced button-block">康樂</button>
    </div>
    <div>
      <img src="img/amYipKNeQdOBxthEHHzm_DSC_3833.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/PcnDPhThKzQM1k1VHbEQ_DSC_3836.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/QJkP1oEXQ2SkzBbKC0jX_DSC_3853.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/pfLHGF5StCZdRixX3Qpn_DSC_3861.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/kWL5mJDoRriEfOhoyNZg_IMG_5199.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/Qe5HISP3SKuxnMsGnqi4_IMG_5201.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/LVMJ1LTUSTGY5qwMBVQS_TDOP9870.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/5On9tnGkSTqBPsL9sDnY_IMG_5990.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/geBxqjD5QSaR9OiYoMxz_IMG_6003.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/GyotgwSVTm2FOmyhun7X_IMG_3915.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/KFAAPwcQ2SFhDu7Dx7Ur_20151212_115525.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/TWbe6fVwTTCfaD2MLcKE_20151212_103923.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page19-button46" style="font-weight:600;" class="button button-balanced button-block button-clear">愛心園遊會 (12月)</button>
    <div>
      <img src="img/PyCM9HziTQOuhrUaa9ci_IMG_5056.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/wG7v9MqETHmdlMtPIkcJ_IMG_5159.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/gxUZsJRBWpj6eH2g4whg_IMG_8118.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/0dyNNPeIRteOV2O445np_-.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/dHCTPfFTTSkOwWF6wCa1_IMG_5091.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/VhySrkLySRaXsJmSNIXC_IMG_8178.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>